header {
    background-color: $black;
    padding: em(24) 0;

    .logo {
        margin-bottom: em(24px);
    }

    .left {
        .title {
            align-items: center;
            margin-bottom: em(24px);
            h1 {
                color: $white;
                margin-right: em(24px);
            }
        }

        h2 {
            color: $white;
        }

        p {
            color: $grey;
            margin-bottom: em(24px);
        }

        .btn {
            opacity: 0;
            &.btn:nth-child(1) {
                margin-right: em(24px);
                &.start-anim {
                    animation: fade-from-right 1s ease-in-out forwards;
                }
            }
            &.btn:nth-child(2) {
                &.start-anim {
                    animation: fade-from-right 1s ease-in-out forwards;
                    animation-delay: .5s;
                }
            }
        }
    }

    .right {
        height: 90vh;
        align-items: center;
        img {
            display: block;
            //width: 100%;
            &.start-anim {
                animation: fade-from-top 1s ease-in-out;
            }
        }
    }
}
