.card {
    padding: 1em;
    border-radius: 3px;
    text-align: left;

    @media #{$all-media} {
        .card-title, .card-image {
            text-align: center;
        }
    }

    @media #{$media-up-lg} {
        .card-title, .card-image {
            text-align: left;
        }
    }

    .card-image {
        img {
            max-width: 100%;
        }
    }

    .card-link {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: $purple;
    }

    &:hover {
        background-color: $white;
        box-shadow: $light-grey 5px 3px 3px;

        transition: background-color .5s;
    }
}
