.container {
    width: 85vw;
    margin: auto;
    overflow: hidden;
}

.row {
    display: flex;
}

.grid {
    display: grid;
    grid-gap: 3em;
    &.grid-2 {
        grid-template-columns: 1fr 1fr;
    }
    align-items: center;
}
